#!/usr/bin/env python
# -*- coding: utf-8 -*-

#
# mode debug
# YOU MUST SET THIS TO False FOR PRODUCTION
# otherwise users may execute arbitrary code on your server
#
DEBUG = False

#
# sessions salt
#
SECRET_KEY = 'NTVEUZTNEYHZVNTHZAONTZAOVNOAZIONV5HIOZA'

#db
import os
APPLICATION_DIR = os.path.join(os.path.dirname(os.path.dirname(os.path.realpath(__file__))), "db")
SQLALCHEMY_DATABASE_URI = "sqlite:///{0}/mdchecker.db".format(APPLICATION_DIR)

#
# server name matching reverse proxy SERVER_NAME variable
#
SERVER_NAME = 'mydomain.com'
