{% extends "base.html" %}

{% block content %}
    <h1>MDChecker</h1>
    <p>MDChecker est un outil réalisant des tests sur des fiches de métadonnées ISO 19115/19139 en masse.</p>
    <p>Il s'agit d'un logiciel libre développé par la communauté de geOrchestra et initié par GéoBretagne.</p>
    <p>Son code et sa documentation sont disponibles sur <a href="https://github.com/geobretagne/mdchecker">Github</a>.</p>
    <br>
    <p>La version actuelle de MDChecker enregistre les résultats des tests unitaires dans une base de données afin de bénéficier d'une vue historisée.
        Néanmoins, si vous ne souhaitez pas que les tests que vous lancez soient enregistrées en base, utilisez la fonction <a href="./quick_test/">Test rapide</a>.</p>
{% endblock %}
