{% extends "base.html" %}

{% block extra_styles %}
    <style rel="stylesheet" type="text/css">
        .form-filter-header {
            font-weight: 700;
            color: #959595;
        }
    </style>
{% endblock %}


{% block extra_scripts %}
    <script>
        $(document).on('click', '.panel-heading.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        });

        $(document).ready(function() {
            $('#orgnameinput.typeahead').typeahead({
                minLength: 2,
                source:  function (query, process) {
                    return $.get('{{url_for('organisation_names_autocomplete')}}', { q: query }, function (data) {
                        return process(data);
                    });
                }
            });
        });
    </script>
{% endblock %}


{% block content %}

    <h2><small>Nouvelle session</small></h2>

    <form class="form-horizontal" method="GET" action="/new_session/creation/">

        <!-- catalogue -->
        <div class="form-group">
            <label for="cat" class="col-sm-3 control-label">Catalogue</label>
            <div class="col-sm-5">
                <select name="cat" class="form-control">
                    {%for cat in cfg.cats %}
                    <option value="{{cat.name}}">{{cat.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-5 form-filter-header">Filtres</div>
        </div>

        <!-- org -->
        <div class="form-group row">
            <label for="OrganisationName" class="col-sm-3 control-label">Nom d'organisme</label>
            <div class="col-sm-5">
                <input type="text"
                    name="OrganisationName"
                    class="form-control typeahead"
                    id="orgnameinput"
                    placeholder="nom de l'organisation (correspondance exacte)"/>
                <small class="text-muted">Laissez vide ce champ pour n'opérer aucun filtre sur les noms des organismes
                <br>L'autocomplétion sur ce champ est sensible à la casse et aux accents.
                </small>
            </div>
        </div>

        <!-- anytext -->
        <div class="form-group row">
            <label for="anytext" class="col-sm-3 control-label">Texte libre</label>
            <div class="col-sm-5">
                <input type="text"
                    name="anytext"
                    class="form-control"
                    placeholder="texte libre dans les fiches"/>
                <small class="text-muted">Pour n'opérer aucun filtre de type texte libre, laissez ce champ vide</small>
            </div>
        </div>

        <!-- quantity -->
        <div class="form-group row">
            <label for="maxharvest" class="col-sm-3 control-label">Nombre maximum de fiches</label>
            <div class="col-sm-5">
                <input type="text"
                    name="maxharvest"
                    class="form-control"
                    type="number"
                    placeholder="nombre maximum de fiches testées"/>
                <small class="text-muted">Au-delà de 100 fiches l'opération peut s'avérer lente.
                    <br/>Laissez ce champ vide pour tester le nombre maximum de fiches indiqué dans la
                    configuration de MDChecker.
                    <br/>Pour tester l'ensemble des fiches du serveur (peut être très lent), saisissez <em>-1</em>.
                </small>
            </div>
        </div>

        <!-- submit -->
        <div class="form-group row">
            <div class="col-sm-offset-6">
                <button type="submit" class="btn btn-default">Créer la session de tests</button>
            </div>
        </div>

    </form>
{% endblock %}
