{% extends "base.html" %}

{% block extra_styles %}
<style rel="stylesheet" type="text/css">
    .clickable-row {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Dernières sessions</div>
        <div class="panel-body">
            {% set sessions = object_list.items %}
            {% if sessions|length > 0 %}
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Catalogue</th>
                        <th>Filtre - organisme</th>
                        <th>Filtre - texte libre</th>
                        <th>Nb fiches max</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        {% set filter_dict = session.get_filter_as_dict() %}
                        {% set cat = cfg.cats|selectattr("cswurl", "equalto", session.cat_url)|first %}
                    <tr>
                        <td><a href="{{ url_for('session_by_id', id=session.id) }}" class='clickable-row'>{{ session.id }}</a></td>
                        <td>{% if cat|length > 0 %} {{ cat.name }} {% else %} <small>{{session.cat_url}}</small> {% endif %}</td>
                        <td>{{ filter_dict['OrganisationName']|default('', true) }}</td>
                        <td>{{ filter_dict['anytext']|default('', true) }}</td>
                        <td>{{ session.max_harvest }}</td>
                        <td>{{ session.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "include_page_links.html" %}

            {% else %}
            <p>Aucune session de test n'est présente en base de données</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
