        .md-md {
            font-size: x-small;
            height: 16em;
            overflow: auto;
        }

        .md-md.perfect {
            background-color: #ccffcc;
        }
        .md-md.good {
            background-color: #fff;
        }
        .md-md.average {
            background-color: #ffffcc;
        }
        .md-md.bad {
            background-color: #ffddcc;
        }
        .md-md.ugly {
            background-color: #ffbbcc;
        }

        .md-md p {
            padding: 0;
            margin: 0;
        }
        .md-score {
            padding: 0.2em;
            margin: 0;
            float: right;
            text-align: center;
        }

        .md-retest.loading {
            background-color: #00f !important;
        }

        .md-retest.error {
            background-color: #f00 !important;
        }

        .md-bt {
            text-decoration: none;
        }
        .md-contact, .md-contact a {
            color: #666;
            text-decoration: none;
        }
        .md-title {
            padding: 2px;
        }


        /* tests */

        .md-test {
            line-height: 1.8em;
        }

        .md-test a {
            padding: 0.1em;
            margin: 0  0.1em;
            color: #333;
            background-color: #ccc;
            border: 1px solid #666;
            font-weight: bold;
            text-decoration: none;
        }

        .md-test a.critical {
            color: #fff;
            background-color: #000;
        }
        .md-test a.error {
            color: #fff;
            background-color: #f00;
        }
        .md-test a.warning {
            color: #fff;
            background-color: #feba00;
        }
        .md-test a.info {
            color: #fff;
            background-color: #090;
        }
        .md-test a.debug {
            color: #666;
            background-color: #ccc;
        }

        .md-test .popover-title,.md-test .popover-content {
            font-size: small;
        }
