{% extends "base.html" %}

{% block extra_styles %}
    <style rel="stylesheet" type="text/css">
        hr.clear {
            clear: both;
        }

{% include "include_md_cards_css.html" %}


    </style>
{% endblock %}


{% block extra_scripts %}
    <script>
        $(function () {
            /**
             *  single metadata reload
             */
            function handleMdReload(e) {
                url = $(e.target).attr('href');
                selector = '#'+url.split('/')[2];
                $(selector + ' .badge').addClass('loading');
                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function(data) {
                        mdnew = $(data).find(selector);
                        if (mdnew) {
                            $(selector).replaceWith(mdnew);
                            $(selector + " a.md-retest").click(handleMdReload);
                        }
                        else {
                            $(selector + ' .badge').removeClass('loading');
                            $(selector + ' .badge').addClass('error');
                        }
                    },
                    failure: function() {
                        $(selector + ' .badge').removeClass('loading');
                        $(selector + ' .badge').addClass('error');
                    }
                });
                return false;
            }

            /**
             *  ui init
             */

            $("a.md-retest").click(handleMdReload);
            $(".md-test a").popover({
                html: true,
                content: function() {
                    return $($(this).children('span')).html();
                },
                placement: "bottom",
                trigger: "hover focus"}
            );
        });
    </script>
{% endblock %}


{% block content %}
    <form class="form-horizontal" method="GET" action=".">

        <!-- org -->
        <div class="form-group">
            <label for="OrganisationName" class="col-sm-2 control-label">organisation</label>
            <div class="col-sm-4">
                <input type="text"
                    name="OrganisationName"
                    class="form-control"
                    placeholder="nom de l'organisation (correspondance exacte)"
                    value='{{args.OrganisationName}}' />
            </div>
        </div>

        <!-- anytext -->
        <div class="form-group">
            <label for="anytext" class="col-sm-2 control-label">texte</label>
            <div class="col-sm-4">
                <input type="text"
                    name="anytext"
                    class="form-control"
                    placeholder="texte libre dans les fiches"
                    value='{{args.anytext}}' />
            </div>
        </div>

        <!-- sortby -->
        <div class="form-group">
            <label for="sortby" class="col-sm-2 control-label">tri&eacute; par</label>
            <div class="col-sm-4">
                <select name="sortby" class="form-control">
                    <option value="id" {% if args.sortby == "id" %}selected{% endif %}>id</option>
                    <option value="score" {% if args.sortby == "score" %}selected{% endif %}>score</option>
                    <option value="OrganisationName" {% if args.sortby == "OrganisationName" %}selected{% endif %}>OrganisationName</option>
                    <option value="date" {% if args.sortby == "date" %}selected{% endif %}>date</option>
                </select>
            </div>
        </div>

        <!-- quantity -->
        <div class="form-group">
            <label for="maxharvest" class="col-sm-2 control-label">résultats par page</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <select name="maxharvest" class="form-control">
                        <option value="5" {% if args.maxharvest == 5 %}selected{% endif %}>5</option>
                        <option value="25" {% if args.maxharvest == 25 %}selected{% endif %}>25</option>
                        <option value="50" {% if args.maxharvest == 50 %}selected{% endif %}>50</option>
                        <option value="100" {% if args.maxharvest == 100 %}selected{% endif %}>100</option>
                        <option value="250" {% if args.maxharvest == 250 %}selected{% endif %}>250 (tr&egrave;s lent)</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- format -->
        <div class="form-group">
            <label for="format" class="col-sm-2 control-label">format</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <select name="format" class="form-control">
                        <option value="html" {% if args.format == "html" %}selected{% endif %}>html</option>
                        <option value="json" {% if args.format == "json" %}selected{% endif %}>json</option>
                        <option value="csv" {% if args.format == "csv" %}selected{% endif %}>csv</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- submit -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3>
                <div class="input-group">
                    <button type="submit" class="btn btn-default">Analyser</button>
                </div>
            </div>
        </div>

    </form>


    <!-- query params -->
    <p>
        catalogue : {{cfg.cswurl}} |
        {% if count.returned>0 %}
            {% if args.anytext %}anytext : {{args.anytext}} | {% endif %}
            {%if args.id %}id : {{args.id}} | {% endif %}
            {% if args.OrganisationName %}OrganisationName : {{args.OrganisationName}} | {% endif %}
            {{count.matches}} r&eacute;sultats
        {% else %}
            0 r&eacute;sultat, pr&eacute;cisez votre recherche
        {% endif %}
    </p>

    <!-- pagination -->
    {% if metas|length > 0 %}
    <ul class="pagination pagination-sm">
        {%for p in pages %}
            {% set a = p[0]*args.maxharvest %}
            {% set b = (p[0]+1)*args.maxharvest-1 %}
        {% if a==args.nextrecord %}
        <li class="active"><a href="{{p[1]}}">{{a}}-{{b}}</a></li>
        {% else %}
        <li><a href="{{p[1]}}">{{a}}-{{b}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <!-- test results -->
    {% if metas|length > 0 %}
    <div class="row">
    {% for md in metas %}
        {% if md.score==100 %}
            {% set rank = "perfect" %}
        {% elif md.score>=80 %}
            {% set rank = "good" %}
        {% elif md.score>=40 %}
            {% set rank = "average" %}
        {% elif md.score>=40 %}
            {% set rank = "bad" %}
        {% elif md.score>=40 %}
            {% set rank = "ugly" %}
        {% endif %}
        <div class="col-md-4 col-lg-3" id="{{md.fileIdentifier}}">

            <div class="panel panel-default md-md {{rank}}">
                <div class="panel-heading">
                    <div class="md-score">
                        <a href="/md/{{md.fileIdentifier}}/html" class="md-retest badge">{{md.score}}</a>
                    </div>
                    <a class="md-bt" href="{{cfg.viewurlprefix}}{{md.fileIdentifier}}" target="_blank" title="view html">{{md.fileIdentifier}}</a>
                    <a class="md-bt" href="{{cfg.xmlurlprefix}}{{md.fileIdentifier}}" target="_blank" title="view xml">xml</a>
                    <br />
                    {{md.MD_Identifier}}
                    <span class="md-date">({{md.date}})</span>
                </div>
                <div class="panel-body">
                    <!-- contact -->
                    <p class="md-contact">
                        {{md.OrganisationName}}
                        {% for mail in md.contact.mails %}
                        <a href="mailto:{{mail}}">{{mail}}</a>
                        {% endfor %}
                    </p>

                    <!-- resource description -->
                    <p class="md-title" title="{{md.abstract}}">{{md.title}}</p>
                    <!-- tests -->
                    <p class="md-test">
                        {% for t in md.reports:%}
                        <a href="{{t.getUrl()}}" class="{{t.getLevel()}}" role="button" data-toggle="popover"  title="{{t.abstract}}">
                            {{t.name}}
                            {% if t.getResults() %}
                            <span style="display: none">
                                {% for r in t.getResults() %}
                                {{r[0]}} : {{r[1]}}
                                <br />
                                {% endfor %}
                            </span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
    {% endif %}

{% endblock %}