{% extends "base.html" %}

{% block extra_styles %}
<style rel="stylesheet" type="text/css">
    .nowrap {
        white-space: nowrap;
    }

{% include "include_md_cards_css.html" %}

</style>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(function () {
            $(".md-test a").popover({
                html: true,
                content: function() {
                    return $($(this).children('span')).html();
                },
                placement: "bottom",
                trigger: "hover focus"}
            );
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Session {{ session.id }}</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tbody>
                    <tr><td>Identifiant de la session de test</td><td>{{ session.id }}</td></tr>
                    <tr><td>Catalogue analysé</td><td>{{ session.cat_url }}</td></tr>
                    <tr><td>Date/heure de la session</td><td>{{ session.date }}</td></tr>
                    <tr><td>Filtre appliqué sur le catalogue</td><td>{{ session.filter }}</td></tr>
                    <tr><td>Nombre total de métadonnées testées</td><td>{{ session.get_nb_md_tested() }}</td></tr>
                    <tr><td>Nombre de types tests exécutés</td><td>{{ session.get_nb_test_types() }}</td></tr>
                    <tr><td>Score moyen par métadonnées</td><td>{{ session.get_average_md_score() }}</td></tr>
                    <tr><td>Pourcentage de métadonnées avec un score > 80</td><td>{{ session.get_percentage_md_upper_than_80() }} %</td></tr>
                    <tr><td>Pourcentage de métadonnées avec un score < 20</td><td>{{ session.get_percentage_md_lower_than_20() }} %</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <form class="form-horizontal" method="GET" action=".">

        <!-- sortby -->
        <div class="form-group form-group-sm">
            <label for="sort_by" class="col-sm-2 control-label">Trier par</label>
            <div class="col-sm-4">
                <select name="sort_by" class="form-control" onchange="this.form.submit()">
                    <option value="score" {% if sort_by == "score" %}selected{% endif %}>Score</option>
                    <option value="organisation" {% if sort_by == "organisation" %}selected{% endif %}>Nom de l'organisme</option>
                    <option value="id" {% if sort_by == "id" %}selected{% endif %}>File identifier des métadonnées</option>
                    <option value="title" {% if sort_by == "title" %}selected{% endif %}>Titre des métadonnées</option>
                    <option value="date" {% if sort_by == "date" %}selected{% endif %}>Date des métadonnées</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="order" class="col-sm-2 control-label">Ordre</label>
            <div class="col-sm-4">
                <select name="order" class="form-control" onchange="this.form.submit()">
                    <option value="asc" {% if order == "asc" %}selected{% endif %}>Croissant</option>
                    <option value="desc" {% if order == "desc" %}selected{% endif %}>Décroissant</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="display" class="col-sm-2 control-label">Mode d'affichage</label>
            <div class="col-sm-4">
                <select name="display" class="form-control" onchange="this.form.submit()">
                    <option value="cards" {% if display == "cards" %}selected{% endif %}>Cartes</option>
                    <option value="list" {% if display == "list" %}selected{% endif %}>Liste</option>
                </select>
            </div>
        </div>

    </form>

    <!-- test results -->
    {% set reports = object_list.items %}
    {% if display|default("cards", true) == "cards" %}
        {% if reports|length > 0 %}

    <div class="row">
    {% for report in reports %}
        {% set md = report.md %}
        {% if report.score==100 %}
            {% set rank = "perfect" %}
        {% elif report.score>=80 %}
            {% set rank = "good" %}
        {% elif report.score>=40 %}
            {% set rank = "average" %}
        {% elif report.score>=40 %}
            {% set rank = "bad" %}
        {% elif report.score>=40 %}
            {% set rank = "ugly" %}
        {% endif %}

        <div class="col-md-4 col-lg-3" id="{{md.file_id}}">

            <div class="panel panel-default md-md {{rank}}">
                <div class="panel-heading">
                    <div class="md-score">
                        <a href="/md/{{md.file_id}}/html" class="md-retest badge">{{report.score}}</a>
                    </div>
                    {{md.res_title}}
                    {% if md.res_date %}<span class="md-date">({{md.res_date}})</span>{% endif %}
                </div>
                <div class="panel-body">
                    <!-- contact -->
                    <p class="md-contact">
                        {{md.res_organisation_name}}
                    </p>

                    <!-- resource description -->
                    <p class="md-title" title="{{md.res_abstract}}">{{md.title}}</p>
                    <!-- tests -->
                    <p class="md-test">
                        {% for t in report.unit_test_results:%}
                        <a href="#" class="{{t.test_result_level}}" role="button" data-toggle="popover"  title="{{t.test_abstract}}">
                            {{t.test_name}}
                            <span style="display: none">
                                {{t.test_result_level}}&nbsp;: {{t.test_result_text}}
                            </span>
                        </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>

        {% endif %}
    {% elif display=="list" %}

    <div class="panel panel-default">
        <div class="panel-heading">Résultats des tests</div>
        <div class="panel-body">
            {% if reports|length > 0 %}
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Métadonnées</th>
                        <th>Date md</th>
                        <th>Organisme</th>
                        <th>Titre</th>
                        <th>Score</th>
                        <th>Niveau</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                        {% set md = report.md %}
                        {% set errors = report.unit_test_results.with_entities("test_result_level").distinct().all() %}
                        {% set error_level = "" %}
                        {% set error_list = [] %}
                        {% for error in errors %}
                            {% do error_list.append(error[0]) %}
                        {% endfor %}
                        {% if "error" in error_list %}
                            {% set error_level = "Erreur" %}
                        {% elif "warning" in error_list %}
                            {% set error_level = "Avertissement" %}
                        {% elif "info" in error_list %}
                            {% set error_level = "Information" %}
                        {% endif %}
                    <tr>
                        <td>{{ md.file_id }}</td>
                        <td class="nowrap">{% if md.md_date %}{{ md.md_date.strftime('%Y-%m-%d') }}{% endif %}</td>
                        <td>{{ md.res_organisation_name }}</td>
                        <td>{{ md.res_title }}</td>
                        <td>{{ report.score }}</td>
                        <td>{{ error_level }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "include_page_links.html" %}

            {% else %}
            <p>Aucune résult de test n'est présent en base de données pour cette session</p>
            {% endif %}
        </div>
    </div>

    {% endif %}

{% endblock %}