{% extends "base.html" %}

{% block extra_styles %}
<style rel="stylesheet" type="text/css">
    .clickable-row {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Dernières sessions</div>
        <div class="panel-body">
            {% if sessions|length > 0 %}
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Catalogue</th>
                        <th>Filtre</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td><a href="/session/{{ session.id }}" class='clickable-row'>{{ session.id }}</a></td>
                        <td>{{ session.cat_url }}</td>
                        <td>{{ session.filter|default('', true) }}</td>
                        <td>{{ session.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Aucune session de test n'est présente en base de données</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
